

.home-intro{
    padding-top: var(--section-padding);
    padding-bottom: 10vw;
}

.home-intro .container{
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .home-intro .container h1{
    font-family: "John-Regular", sans-serif;
    line-height: 0.8em;
    font-size: 8.5vw;
    margin-bottom: 2rem;
} */

/* @media screen  and (max-width: 720px){
    .home-intro .container h1{
        font-size: 3rem;
    }
} */
.home-intro .container p:nth-child(1){
    margin-bottom: 1rem;
    text-align: center;
}


.home-intro .container p:nth-child(3){
    font-family: "Larry-Regular", sans-serif;
    margin-bottom: 2rem;
    text-align: center;
}

/* header .container {
    padding: 90px 0;
} */
