@import "./style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {

  --primary-text-color-light: #ffffff;
  --primary-text-color-light: #171717;

  --section-padding: clamp(5em, 21vh, 12em);
}

.dark {
  --background: #111111;
  --foreground: #ededed;
}

/* @media screen and (width: 720px) {
  :root {
    --section-padding: 12vh;
  }
} */


@font-face {
  font-family: Larry-Regular;
  src: url("../fonts/manrope/Manrope-Regular.ttf");
}
@font-face {
  font-family: Larry-Medium;
  src: url("../fonts/manrope/Manrope-Medium.ttf");
}
@font-face {
  font-family: Larry-SemiBold;
  src: url("../fonts/manrope/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: Larry-Bold;
  src: url("../fonts/manrope/Manrope-Bold.ttf");
}
@font-face {
  font-family: Larry-ExtraBold;
  src: url("../fonts/manrope/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: Syne-Regular;
  src: url("../fonts/syne/Syne-Regular.ttf");
}

@font-face {
  font-family: John-Regular;
  src: url("../fonts/polysans/PolySans-Median.ttf");
}
/*This will able to hide the scroll bar*/
::-webkit-scrollbar {
  display: none;
}
/* Selection */
::selection {
  background-color: transparent;
  color: rgb(2, 87, 90);
  text-shadow: none;
}
::-moz-selection {
  background-color: transparent;
  color: rgb(2, 87, 90);
  text-shadow: none;
}

.social-ico {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
p a {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

p a:hover {
  opacity: 0.5;
  transform: translate(0, -2px);
}
h1 {
  font-size: clamp(30px, 5vw, 60px);
  line-height: 0.8em;
  font-family: "John-Regular", sans-serif;
}
h1.big {
  font-size: clamp(60px, 7.5vw, 150px);
  line-height: 0.8em;
  font-family: "John-Regular", sans-serif;
  margin-bottom: 3vw;
}
h1.medium {
  font-size: clamp(50px, 6.5vw, 100px);
}
h2 {
  font-family: "John-Regular", sans-serif;
  font-size: clamp(26px, 2.6vw, 40px);
}
h2.medium {
  font-size: clamp(20px, 2vw,30px);
}

p {
  font-size: 20px;
  margin-bottom: 30px;
}
p.small {
  font-size: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
p.medium {
  font-size: 16px;
  margin-bottom: 0;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  p.small {
    opacity: 0.7;
  }
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 30px;
    font-size: clamp(30px, 8vw, 40px);
    margin-bottom: 4vw;
  }
  h1.big {
    font-size: clamp(50px, 10vw, 50px);
  }
  h2 {
    font-size: 26px;
  }
  h2.big {
    font-size: 30px;
    font-size: 7vw;
  }
  h4 {
    font-size: 19px;
  }
  p {
    font-size: 16px;
  }
  p.small {
    font-size: 12.5px;
  }
  p.medium {
    font-size: 14px;
  }
}
p {
  font-size: clamp(16px, 1.1vw, 18px);
}
strong {
  font-family: "Larry-Bold", sans-serif;
}

.light .stripe svg path {
  fill: #ffff;
}
.dark .stripe svg path {
  fill:#111111;;
}

.stripe svg {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0px);
}

@media screen and (max-width: 1500px) {
  .stripe svg {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 25%) scale(0.5);
  }

  .light .stripe svg path {
    stroke-width: 2.2px;
  }

  .dark .stripe svg path {
    stroke-width: 2.2px;
  }
}
body {
  font-family: "Larry-Regular", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.stripe {
  width: 100%;
  height: 1px;
  opacity: 0.6;
  float: left;
  position: relative;
  border-radius: 100%;
}
.vertical-stripe {
  height: clamp(90px, 8vw, 200px);
  width: 1px;
  opacity: 0.6;
  position: relative;
  border-radius: 100%;
}
.sub-wrap {
  width: 50%;
  position: relative;
  float: left;
}
.wrap-wide {
  margin: 0 auto;
  max-width: 1420px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
@media screen and (max-width: 1740px) {
  .wrap-wide {
    max-width: 100%;
    padding: 0 12vw;
  }
}

@media screen and (max-width: 540px) {
  .wrap-wide {
    padding: 0 30px;
  }
}

.section {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 10vw;
}

/* ------------------------- Pre Footer -------------------------------------------------- */

.prefooter .sub-wrap:nth-child(2) {
  padding-top: 2rem;
}

.prefooter h2 a {
  position: relative;
  display: inline-block;
}

.prefooter h2 a .underline {
  width: 100%;
  height: 3px;
  background: #fff;
  position: relative;
  transform: translate(0, 2px);
}

main.light .prefooter h2 a .underline {
  background: #000;
}

.prefooter h2 a:hover {
  color: rgba(255, 255, 255, 0.5);
}

main.light .prefooter h2 a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.prefooter h2 a:hover .underline {
  transform: translate(0, 5px);
}

.prefooter ul {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
}

.prefooter ul li {
  padding-right: calc(3vw + 15px);
}

.prefooter ul li:first-child {
  padding-right: calc(5vw + 15px);
}

.prefooter ul li:last-child {
  padding-right: 0;
}

.prefooter ul li p {
  margin: 0;
}

.prefooter ul li p strong {
  margin-bottom: calc(0.5vw + 15px);
  display: block;
}

.prefooter ul li p a {
  text-decoration: none;
}

.prefooter .mobile-legal {
  display: none;
}

main#home .header-image.mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .prefooter .mobile-credits {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .prefooter {
    padding-bottom: 40px;
  }

  .prefooter .sub-wrap:nth-child(1) {
    width: 100%;
    padding-bottom: 6vw;
  }

  .prefooter .sub-wrap:nth-child(2) {
    width: 100%;
    padding-top: 0;
  }

  .prefooter ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
  }

  .prefooter .mobile-legal {
    float: left;
    width: 100%;
    display: block;
    padding-top: 7vw;
  }

  .prefooter .mobile-legal p {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  .prefooter ul {
    padding-top: 30px;
  }

  .prefooter ul li,
  .prefooter ul li:first-child,
  .prefooter ul li:last-child {
    width: 50%;
    margin-bottom: 60px;
    padding-right: 0;
    padding-left: 0;
  }

  .prefooter ul li:last-child {
    margin-bottom: 0;
  }

  .prefooter .mobile-legal {
    padding-top: 55px;
  }

  main#home .header-image.desktop {
    display: none;
  }
  main#home .header-image.mobile {
    display: block;
  }
}

@media screen and (max-width: 440px) {
  .prefooter ul li:first-child {
    width: 40%;
    margin-bottom: 45px;
  }

  .prefooter ul li,
  .prefooter ul li:nth-child(2) {
    width: 60%;
    margin-bottom: 45px;
  }

  .prefooter ul li,
  .prefooter ul li:nth-child(3) {
    width: 100%;
  }
}

/* ------------------------- Footer -------------------------------------------------- */

.prefooter {
  padding-top: 10vw;
}

.footer {
  padding-bottom: 3vw;
  padding-top: 0vw;
}

.footer .stripe {
  margin-bottom: 3vw;
}

.footer-wrap {
  width: 100%;
  float: left;
  position: relative;
}

.footer .credits {
  float: left;
}

.footer .legal {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translate(0, -50%);
}

.footer p {
  margin-right: 20px;
  margin-bottom: 0;
}

.social-icons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.social-icons.social-hover:hover .social-sticker {
  opacity: 1;
  transform: translate(35%, -95%) rotate(15deg) scale(1.2);
}

.social-ico {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.dark .social-ico svg path,
.light .social-ico svg circle {
  fill: #fff;
}

.social-ico:hover {
  opacity: 0.5;
  transform: translate(0, -3px);
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-bottom: 40px;
  }

  .footer .stripe {
    margin-bottom: 40px;
  }

  .footer .legal {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .footer-wrap {
    padding-top: 50px;
  }

  .social-icons {
    right: auto;
    top: 0px;
    left: -8px;
    transform: translate(0, 0);
  }
}

.social-sticker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
  display: block;
  transform: translate(15%, -30%) rotate(5deg) scale(1.7);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.83, 0, 0.13, 1);
}

/**Navigation Header **/

.nav {
  z-index: 1000;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: #0000;
  width: 100%;
  height: 64px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0% 0% auto;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  gap: 2rem;
}

.container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  padding-right: 64px;
}

.button {
  text-align: center;
  text-transform: uppercase;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 4px 15px;
  font-family: "Larry-SemiBold", sans-serif;
  font-size: clamp(10px, 1vw, 13px);
  line-height: 1;
  transition: all 0.45s ease-in-out;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button.big {
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px 15px;
  font-family: "Larry-SemiBold", sans-serif;
  font-size: clamp(11px, 2vw, 15px);
  line-height: 1;
  transition: all 0.45s ease-in-out;
  display: flex;
  position: relative;
  overflow: hidden;
}
.mobile-button {
  display: none;
}

.prim {
  border: 1px solid currentColor;
}

.button-link:hover,
.mobile-button:hover {
  background-color: rgba(0, 253, 253, 0.123);
}

.toggle-switch {
  position: absolute;
  z-index: 1;
  text-align: center;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 128px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Roslindale, Times New Roman, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  left: auto;
  right: auto;
}

.button.mobile-button {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0;
  padding-bottom: 0;
}

.mobile-button-text {
  flex-wrap: nowrap;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 991px) {
  .button-link {
    display: none;
  }
  .mobile-button {
    display: flex;
  }
  .nav-links {
    display: none;
  }
}



/*------------------Photo Dayon Kamo----------------*/

.section-photo-wrapper {
  width: 100%;
  height: 200vh;
  padding-bottom: 0;
}

.section .photo-wrapper-sticky {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.section .content-wrap {
  z-index: 0;
  grid-row-gap: 128px;
  transform-origin: 0%;
  text-align: center;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 600px;
  height: 100%;
  padding: 0 64px;
  display: flex;
  position: relative;
}

.photo-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content-wrap.photo {
  display: flex;
  justify-content: center;
  border-radius: 32px;
  height: 80%;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  align-items: flex-end;
}

.content-wrap.photo.right {
  transform: translate3d(0, 0, 0);
  z-index: 1;
  transform-origin: 100% 100%;
}

.content-wrap.photo.left {
  transform: translate3d(0, 0, 0);
  z-index: 2;
  transform-origin: 100% 100%;
}



@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {

    --background: 240 10% 3.9%;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}