.home-intro {
  padding-top: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 10vw;
}

.home-intro .container {
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .home-intro .container h1{
    font-family: "John-Regular", sans-serif;
    line-height: 0.8em;
    font-size: 8.5vw;
    margin-bottom: 2rem;
} */

/* @media screen  and (max-width: 720px){
    .home-intro .container h1{
        font-size: 3rem;
    }
} */
.home-intro .container p:nth-child(1) {
  margin-bottom: 1rem;
  text-align: center;
}

.home-intro .container p:nth-child(3) {
  font-family: "Larry-Regular", sans-serif;
  margin-bottom: 2rem;
  text-align: center;
}

/*------------------Video intro----------------*/
.header-card-overlay {
  z-index: 2;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.468),
    rgba(4, 106, 86, 0.374)
  );
  opacity: 0.24;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.video-card {
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  padding: 64px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.home-intro .lj_video_wrapper {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.lj_video_wrapper > video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  inset: -100%;
}

.home-intro .video-container {
  padding: 0 10vw;
}

/*------------------Trending Blogs----------------*/
.section-trend-blogs {
  width: 100%;
  height: 200vh;
}
.section-trend-blogs {
  height: 600vh;
  margin-top: -64px;
  padding-top: 0;
  padding-bottom: 64px;
}
.section .carousel-sticky {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.slides {
  will-change: transform;
}

.stripe {
  height: 1px;
  width: 100%;
}

.trend-blog-wrapper {
  z-index: 99;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  display: flex;
  position: sticky;
  overflow: hidden;
  top: 0;
}

.tb-title-wrapper {
  width: 100%;
  height: 70vh;
  max-height: 900px;
  position: relative;
}

.tb-name-mask {
  width: 100%;
  position: relative;
  overflow: visible;
}

.tb-name-mask.top {
  position: absolute;
  inset: 0% 0% auto;
  transform: translateY(-100%);
}

.tb-name-mask.bottom {
  position: absolute;
  inset: auto 0% 0%;
  transform: translateY(100%);
}

.tb-name.bottom {
  transform: translateY(-50%);
}
.tb-name.top {
  transform: translateY(50%);
}
.tb-name {
  margin-bottom: 0;
  transform: none;
}

.tb-list {
  grid-row-gap: 3%;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.tb-item {
  position: relative;
  flex: none;
  width: 100%;
  height: 100%;
}

.tb-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.tblog-wrapper {
  border-radius: 32px;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.tb-card {
  color: #f3f6fa;
  border-radius: 24px;
  flex-direction:column;
  flex: none;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 0;
  padding-top: 125%;
  display: flex;
  position: relative;
  overflow: hidden;
}


.tb-card.article {
    flex: none;
    justify-content: flex-end;
    width: 100%;
    max-width: none;
    height: 100%;
    margin-right: 0;
    padding-top: 0%;
    border-radius: 24px;
    z-index: 0;      
}

.tb-card-overlay {
  z-index: 1;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  width: 100%;
  padding: 24px;
  position: relative;
  display: flex;
}

.tb-card-overlay-info {
  z-index: 1;
  flex-direction: column;
  width: 100%;
}

.tb-card-overlay-background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  
}

